<div>
  <button mat-raised-button color="primary" (click)="openCreateFloorModal()">
    Create Floor
  </button>
</div>

<ng-container *ngIf="(isLoadingFloors$ | async) === false; else showSkeleton">
  <ng-container *ngIf="(floors$ | async )as floors">

    <div class="flex flex-wrap">
      <ng-container *ngFor="let floor of floors">
        <app-floor-card [floor]="floor" (deleteFloorChange)="deleteFloor($event)"></app-floor-card>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #showSkeleton>
  <div class="flex flex-wrap">
    <div class="example-card m-3">
      <ngx-skeleton-loader
        [theme]="{ height: '256px', width: '400px' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="example-card m-3">
      <ngx-skeleton-loader
        [theme]="{ height: '256px', width: '400px' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="example-card m-3">
      <ngx-skeleton-loader
        [theme]="{ height: '256px', width: '400px' }"
      ></ngx-skeleton-loader>
    </div>

    <div class="example-card m-3">
      <ngx-skeleton-loader
        [theme]="{ height: '256px', width: '400px' }"
      ></ngx-skeleton-loader>
    </div>

  </div>


</ng-template>
