
:host {
  display: block;
  margin-bottom: 100px;
}
.state-wrapper {
  z-index: -1;
}

.booking-navigation {
  z-index: 5;
  position: absolute;
  display: flex;
  width: 100%;
  background: white;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  top:0px;
}

.svg-skeleton {
  margin-top:100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.floor-content {
  padding-top: 100px;
}
