<!--<app-spinner [isLoading]="(isLoading$ | async) || false"></app-spinner>-->

<div class="booking-navigation">
  <app-date-place-selector
    [isLoading]="isLoadingFloors$| async"
    [selectedPlaceFilter]="selectedPlaceFilter$| async"
    [selectOptions]="selectPlacesName$ | async"
    [selectedDate]="selectedDate$ | async"
    (dateChanged)="dateChanged($event)"
    (placeChanged)="optionChanged($event)"
  ></app-date-place-selector>
</div>


<ng-container *ngIf="(isLoadingCombined$ | async) == false; else showSkeleton">
    <ng-container *ngIf="(selectedPlaceSvg$ |async) as svgData">
      <div class="floor-content">
        <app-edit-place [svgData]="svgData" [fixedPlaces]="fixedReservedPlaces$ | async"
                        (placeAction)="onPlaceSelected($event)"/>
      </div>




    </ng-container>
</ng-container>

<ng-template #showSkeleton>
  <div class="svg-skeleton">
    <ngx-skeleton-loader [theme]="{height: '500px', width:'700px'}"></ngx-skeleton-loader>

  </div>
</ng-template>
