<app-spinner [isLoading]="(isLoading$ | async) || false"></app-spinner>

<div class="booking-navigation">
  <div class="me-3">
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Choose a date</mat-label>-->
<!--      <input-->
<!--        matInput-->
<!--        [matDatepicker]="picker"-->
<!--        name="date" formControlName="date" [(ngModel)]="date.value"-->

<!--      />-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="From Date" [formControl]="date" (dateInput)="dateChanged()">

      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select
      (selectionChange)="optionChanged($event.value)"
      [(ngModel)]="selectedOption"
    >
      <mat-option [value]="StateEnum.floor5"> 5 floor</mat-option>
      <mat-option [value]="StateEnum.floor7">7 floor</mat-option>
      <mat-option [value]="StateEnum.parking">Parking</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="state-wrapper">
  <app-floor-five-svg
    #sceneWrapper
    *ngIf="(selectedState$ | async) === StateEnum.floor5"
    (elementReference)="selectedSvgImage = $event"
  ></app-floor-five-svg>
  <app-floor-seven-svg
    *ngIf="(selectedState$ | async) === StateEnum.floor7"
    (elementReference)="selectedSvgImage = $event"
    #sceneWrapper
  >
  </app-floor-seven-svg>
  <app-parking-place-svg
    *ngIf="(selectedState$ | async) === StateEnum.parking"
    (elementReference)="selectedSvgImage = $event"

    #sceneWrapper
  >
  </app-parking-place-svg>
  <!--  <app-floor-five-svg #sceneWrapper></app-floor-five-svg>-->
  <app-seat-tooltip></app-seat-tooltip>
</div>
