@import 'variables';

.main-wrapper {
  display: grid;
  grid-template-rows: 1fr; /* Default to single row */
  grid-template-columns: 1fr; /* Full width for mobile */
  grid-template-areas:
    "content"
    "sidebar";
  height: 100%;
  background: white;
  position: relative;

  &__hidden {
    grid-template-areas:
    "content"
  }

  @media (min-width: map-get($breakpoints, 'sm')) {
    /* Larger screens: sidebar on the left */
    grid-template-columns: 60px 1fr;
    grid-template-areas: "sidebar content";
    &__hidden {
      grid-template-areas:
    "content";
      grid-template-columns:1fr;
    }

  }
}

.sidebar {
  grid-area: sidebar;
  background: #f1f1f1;
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.content {
  grid-area: content;
  overflow-x: hidden;
}
