:host {
  display: block;
  margin-bottom: 100px;
}

.state-wrapper {
  z-index: -1;
}

.booking-navigation {
  display: flex;
  column-gap: 0.5rem;
  background: white;
  padding: 20px;
  height: min-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 2;
  position: relative;
}

.floor-content {
  padding-top: 100px;
}

.svg-skeleton {
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

