:host {
  display: grid;
  grid-template-columns: 64px 1fr;
  height: 100%;
  background: white;
}

mat-toolbar {
  color: white;
}

.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  background: #e6e8ee;
  z-index: 2;
}

.full-width {
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
}
