<mat-dialog-content class="mat-typography">
  <div class="dialog-wrapper flex-col">
    <app-week-picker
      [selectedDateInput]="data.selectedDate"
      (selectedDateRangeOutput)="onSelectDateRangeOutput($event)"
    ></app-week-picker>
    {{ this.data.placeId}}
    <ng-container *ngIf="(loading$ | async )=== false; else showSkeleton">
      <ng-container *ngIf="(days$ | async) as days">
        <app-space-book-time-slot
          *ngFor="let day of days; trackBy: trackByDay"

          [day]="day"
          (selectDay)="onDaySelect($event)"
          (unSelectDay)="onDayUnSelect($event)"

        ></app-space-book-time-slot>
      </ng-container>
      <mat-dialog-actions align="end">
        <button mat-button (click)="cancelDialog()">Cancel</button>
        <button mat-button (click)="closeDialog()" cdkFocusInitial>
          Reserve
        </button>
      </mat-dialog-actions>
    </ng-container>
  </div>
</mat-dialog-content>


<ng-template #showSkeleton>

  <div class="flex flex-col">
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{height: '79px', width:'100%'}"
    ></ngx-skeleton-loader>
  </div>


</ng-template>
