<ng-container *ngIf="isLoading === false; else showSkeleton ">
  <div class="flex gap-8">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="From Date"
        [(ngModel)]="selectedDate"
        (dateInput)="onDateChanged()"
      >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-place-selector
      (placeSelected)="onPlaceSelected($event)"
      [selectOptions]="selectOptions"
      [selectedOption]="selectedPlaceFilter"

    />
  </div>
</ng-container>


<ng-template #showSkeleton>
  <div class="flex gap-8">
    <ngx-skeleton-loader [theme]="{height: '56px', width:'230px'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{height: '56px', width:'230px'}"></ngx-skeleton-loader>
  </div>
</ng-template>
