.example-sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
}

.navigation-link {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep {
  .mat-expansion-panel-header {
    padding: 0 16px !important;
    flex-direction: column !important;;
  }

  .mat-expansion-panel-body {
    padding: 0px !important;
  }
}

.active-link {
  background-color: #e0e0e0; /* Example active state style */
  /* Add other styles as needed */
}
