@import 'variables';

.navigation-menu {
  display: flex;
  flex-direction: column;
  @media (max-width: map-get($breakpoints, 'sm')) {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
  }
}


.navigation-link {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.active-link {
  background-color: #e0e0e0; /* Example active state style */
  /* Add other styles as needed */
}
