<mat-nav-list class="navigation-menu">
  <div class="navigation-link" [routerLink]="['/seating']" routerLinkActive="active-link" [title]="'Booking'">
    <mat-icon>event_seat</mat-icon>
  </div>

  <div class="navigation-link" [routerLink]="['/my-reserved-places']" routerLinkActive="active-link"
       [title]="'Reservations'">
    <mat-icon>lock</mat-icon>
  </div>

  <div class="navigation-link" [routerLink]="['/edit-places']" routerLinkActive="active-link"
       [title]="'Edit fixed places'">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="navigation-link" [routerLink]="['/edit-floor-container']" routerLinkActive="active-link"
       [title]="'Create floor'">
    <mat-icon>add</mat-icon>
  </div>

  <div class="navigation-link" (click)="logOut()" title="Logout">
    <mat-icon>logout</mat-icon>
  </div>


  <button mat-button>En</button>
  <button mat-button>Sk</button>
</mat-nav-list>
