<ng-container>
  <div class="dialog-wrapper">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div [class.hidden]="loading">
      <!--      <h1 mat-dialog-title *ngIf="!data?.fixedPlace">Assign user to place</h1>-->
      <h1>Place name{{assignForm.controls.name.value}}</h1>
      <mat-dialog-content class="mat-typography">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Assignee</mat-label>
            <input
              type="text"
              matInput
              [formControl]="assignForm.controls.assignee"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                <img
                  class="profile-img"
                  *ngIf="option.profilePicture"
                  [src]="option.profilePicture"
                  alt="Profile"
                />
                {{ option.fullName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- Radio Buttons -->
          <mat-radio-group
            aria-label="Select an option"
            class="radio-group"
            [formControl]="assignForm.controls.type"
          >
            <mat-radio-button [value]="BookingPlaceTypeEnum.$0"
            >Fixed
            </mat-radio-button
            >
            <mat-radio-button [value]="BookingPlaceTypeEnum.$1"
            >Hybrid
            </mat-radio-button
            >
          </mat-radio-group>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="assignPlace()">Assign</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-container>
