/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/ngx-toastr/toastr.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  --bs-gutter-x: none;
  --bs-gutter-y: 0;
}


html,
body {
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  background-color: #f0f2f5;

  app-root {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}





