<ng-container *ngIf="!(isLoading$ | async)">
  <div class="reserved-places-container">


    <section *ngIf="!(isLoading$ | async)">
      <!-- Fixed Places Section -->
      <div *ngIf="(selectFixedPlaces$ | async) as fixedPlaces">
        <h2>Fixed Places</h2>
        <div *ngFor="let place of fixedPlaces">
          <div (click)="onOpenReleaseModal(place)">
            <p>{{ place.name }}</p>
            <p>Booked By: {{ place.reservedForUserVm?.fullName || 'N/A' }}</p>
            <div *ngFor="let booking of place.bookings">
              <!--              <mat-checkbox (change)="toggleBookingSelection(booking.bookingId, $event.checked)">-->
              <!--                {{ booking.bookingDate | date: 'mediumDate' }} by {{ booking.bookedByUserVm?.fullName }}-->
              <!--              </mat-checkbox>-->
            </div>
          </div>
        </div>
      </div>

      <!-- Fixed Parkings Section -->
      <div *ngIf="(selectFixedParkings$ | async) as fixedParkings">
        <h2>Fixed Parkings</h2>
        <div *ngFor="let parking of fixedParkings">
          <div (click)="onOpenReleaseModal(parking)">
            <p>{{ parking.name }}</p>
            <p>Booked By: {{ parking.reservedForUserVm?.fullName || 'N/A' }}</p>
            <div *ngFor="let booking of parking.bookings">
              <!--              <mat-checkbox (change)="toggleBookingSelection(booking.bookingId, $event.checked)">-->
              <!--                {{ booking.bookingDate | date: 'mediumDate' }} by {{ booking.bookedByUserVm?.fullName }}-->
              <!--              </mat-checkbox>-->
            </div>
          </div>
        </div>
      </div>

      <!-- Floor Places Section -->
      <div class="places-section">
        <h2>Floor Places</h2>
        <div class="places-grid">
          <div class="place-card" *ngFor="let floorPlace of selectFloorPlaces$ | async">
            <app-check-box [id]="floorPlace.bookingId"
                           (checkedChange)="toggleSelection(floorPlace.bookingId, $event)">
            </app-check-box>
            <div class="booking-details">
              <p>Date: {{ floorPlace.bookingDate | date:'mediumDate' }}</p>
              <!--              <p>Booked By: {{ floorPlace.bookedByUserVm?.fullName || 'N/A' }}</p>-->
              <p>Status: {{ floorPlace.state }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Car Places Section -->
      <div class="places-section">
        <h2>Car Places</h2>
        <div class="places-grid">
          <div class="place-card" *ngFor="let carPlace of selectCarPlaces | async">
            <app-check-box [id]="carPlace.bookingId"
                           (checkedChange)="toggleSelection(carPlace.bookingId, $event)">
            </app-check-box>
            <div class="booking-details">
              <p>Date: {{ carPlace.bookingDate | date:'mediumDate' }}</p>
              <!--              <p>Booked By: {{ carPlace.bookedByUserVm?.fullName || 'N/A' }}</p>-->
              <p>Status: {{ carPlace.state }}</p>
            </div>
          </div>
        </div>
      </div>

      <button (click)="releaseSelected()">Release Selected</button>
    </section>
  </div>
</ng-container>
