<!--<asl-google-signin-button type='standard' size='medium' theme="filled_blue"-->
<!--                          text="signin_with"></asl-google-signin-button>-->
<!--<img src="./assets/img/reservation-system.png" alt="">-->

<!--<div>-->
<!--  <h1>Booking app</h1>-->
<!--  <span>Use gmail account to log in to application</span>-->
<!--</div>-->


<div class="login-page">
  <div class="login-image">
    <!-- Image can be placed here -->
  </div>
  <div class="login-form">
    <div class="form-container">
      <h1>Login</h1>
      <p>Use your Gmail account to log in to the application</p>
      <asl-google-signin-button type='standard' size='medium' theme="filled_blue"
                                text="signin_with"></asl-google-signin-button>
    </div>
  </div>
</div>
