<div class="places-section">
  <h2>{{ sectionTitle }}</h2>
  <div class="places-grid">
    <div class="place-card" *ngFor="let booking of bookings">
      <app-check-box [id]="booking.bookingId"
                     (checkedChange)="toggleSelection(booking.bookingId, $event)"></app-check-box>
      <div class="booking-details">
        <p>Date: {{ booking.bookingDate | date:'mediumDate' }}</p>
        <p>Status: {{ booking.state }}</p>
        <!-- Add more details as needed -->
      </div>
    </div>
  </div>
</div>


<button
  mat-raised-button
  color="primary"
  (click)="releaseSelected()"

>
  Release
</button>

