<form [formGroup]="floorForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Floor Name</mat-label>
    <input matInput formControlName="floorName" placeholder="Enter floor name">
    <mat-error *ngIf="floorForm.controls.floorName.invalid">
      Floor name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Floor Description</mat-label>
    <textarea matInput formControlName="floorDescription" placeholder="Enter floor description"></textarea>
  </mat-form-field>

  <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

  <button mat-raised-button color="primary" type="submit" [disabled]="!floorForm.valid">Submit</button>
</form>
